<a href="https://colab.research.google.com/github/mahmoud2571587/Data-Scrapping/blob/main/Indeed%20Web%20Scrapping/Scrap_Indeed's_mult_pages_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [197]:
# import libraries

import requests
from bs4 import BeautifulSoup
import pandas as pd

extract function get pages to extract data from it

In [198]:
def extract(page):
  headers = {'user-agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36'}
  url = f'https://uk.indeed.com/jobs?q=Python%20Developer&l=London&start={page}&vjk=5bdac14b7ce64d90'
  page = requests.get(url , headers)
  soup = BeautifulSoup(page.content , 'html.parser')
  return soup

In [199]:
job_list = []

this function get specific data and store it in list

In [200]:
def transform(soup):
  divs = soup.find_all('div' , {'class' : 'job_seen_beacon'})
  for item in divs:
    title = item.find('a').text.strip()
    company_name = item.find('span' , {'class' : 'companyName'}).text.strip()
    
    company_location = item.find('div' , {'class' : 'companyLocation'}).text.strip()
    post_date = item.find('span' ,{'class' : 'date'}).text.strip()
    try :
      rating = item.find('span', {'class' : 'ratingsDisplay'}).text.strip()
      salary = item.find('div' , {'class' : 'attribute_snippet'}).text.strip()
    except :
      rating =''
      salary = ''
    summary = item.find('div' ,{'class' : 'job-snippet'}).text.strip().replace('\n' ,'')
    job ={'title' : title ,
          'company_name' : company_name ,
          'company_location' : company_location,
          'rating' : rating,
          'salary' : salary,
          'post_date' : post_date,
          'summary' : summary}
    job_list.append(job)
    #print(rating[2:])
    #print(title ,'||' , company_name , '||' , company_location ,'||' ,salary ,'||' , rating[2:] ,'||', post_date)
  return

In [201]:
# get data from all pages 

for page_num in range(0,200,10):
  print(f'page number:  {page_num}')
  page = extract(page_num)
  transform(page)

page number:  0
page number:  10
page number:  20
page number:  30
page number:  40
page number:  50
page number:  60
page number:  70
page number:  80
page number:  90
page number:  100
page number:  110
page number:  120
page number:  130
page number:  140
page number:  150
page number:  160
page number:  170
page number:  180
page number:  190

In [202]:
# put data into dataFrame
df = pd.DataFrame(job_list)
df.head()

,title,company_name,company_location,rating,salary,post_date,summary
0,Python & SQL Developer,Capgemini,London,3.8,Full-time,Posted3 days ago,Financial Services experience with regulatory ...
1,Python Developer,White Swan Data,London WC1X,,,Posted21 days ago,These betting solutions entail the development...
2,Python Developer,Citi,London,3.9,Full-time,Posted30+ days ago,Designing and implementing python-based backen...
3,RaaS Senior Python Developer,"JPMorgan Chase Bank, N.A.",London,3.8,Full-time,Posted9 days ago,As a senior developer in the Risk as a Service...
4,Apprentice Software Developer,ITP,London W2,5.0,"Â£21,500 a year",Posted3 days ago,We have been awarded a 20-year contract by Tra...

In [203]:
# Save data into .csv file
df.to_csv('python_jobs.csv')