<a href="https://colab.research.google.com/github/mahmoud2571587/Data-Scrapping/blob/main/Amazon%20web%20scrapping/Amazon_web_scrapping_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [92]:
# import libraries

from bs4 import BeautifulSoup 
import requests
import pandas as pd 
import time 
import datetime
import smtplib
import csv

In [93]:
# connect to website and pull its data 

URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

#header =  {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36"}

headers =  {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36',
    'accept' : 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
    'accept-encoding' : 'gzip, deflate, br',
    'accept-language' : 'en-US,en;q=0.9,ar;q=0.8'
  }
  
page = requests.get(URL , headers =headers)

soup1 = BeautifulSoup(page.content , 'html.parser')

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find('span',{'id': 'productTitle'}).getText()

rating_count = soup2.find('span' , {'id' : 'acrCustomerReviewText'}).get_text()

rating = soup2.find('span' , {'class' : 'a-icon-alt'}).get_text()

print(title , rating_count ,rating)

#print(soup2)

                   Funny Got Data MIS Data Systems Business Analyst T-Shirt

                    15 ratings

                       4.8 out of 5 stars

In [94]:
# Clean data little bit 

title = title.strip()

rating_count = rating_count.strip()
rate_count = rating_count[: rating_count.index(" ")+1]

rating = rating.strip()
ratting = rating.split(' ')[0]

print(title)
print(rate_count)
print(ratting)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
15
4.8

In [95]:
# create timestamp to track when data was collected

today = datetime.date.today()

print(today)

2022-07-10

In [96]:
# create csv file and write header and data into the file

import csv 

header = ['title' ,'rating_count' , 'rating' , 'today']
data = [title , rate_count , ratting , today]

with open('AmazonWebScraperDataset.csv' , 'w' , newline = '' , encoding = 'UTF8') as f:
  writer = csv.writer(f)
  writer.writerow(header)
  writer.writerow(data)

In [97]:
# Read Amazonwebscraper file

import pandas as pd 

df = pd.read_csv('AmazonWebScraperDataset.csv')
df

,title,rating_count,rating,today
0,Funny Got Data MIS Data Systems Business Analy...,15,4.8,2022-07-10

In [98]:
# If uou want to try sending yourself an email (just for fun) when a price hits below a certain level you can try it
# out with this script

def send_mail():
    server = smtplib.SMTP_SSL('smtp.gmail.com',465)
    server.ehlo()
    #server.starttls()
    server.ehlo()
    server.login('m.n.hakiem17@gmail.com','xxxxxxxxxxxxxx')
    
    subject = "The Shirt you want is below $15! Now is your chance to buy!"
    body = "Mahmoud, This is the moment we have been waiting for. Now is your chance to pick up the shirt of your dreams. Don't mess it up! Link here: https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data+analyst+tshirt&qid=1626655184&sr=8-3"
   
    msg = f"Subject: {subject}\n\n{body}"
    
    server.sendmail(
        'm.n.hakiem17@gmail.com',
        msg
     
    )